<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Bubble Chart</title>

	<link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">


	<link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/d3Style.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
	

</head>

<body>

	<h1>Bubble Chart</h1>
	<div class="chart">
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.0.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
	<script src="{{ url_for('static', filename='js/bubblechart.js') }}"></script>
</body>

</html>